*{
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}
.image-header {
  background-image:  url(../images/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 100px;
  min-height: 450px;
  color:white;
}

.button-header{
  background-color:#333333;
  margin: 30px;
  padding: 10px 15px;
  border: 1px solid white;
  text-decoration: none;
  font-size: 20px;
  color:white;
  width: 150px;
  height: 50px;
}

.button-header:hover {
  background-color:white; 
  color: #333333;
}

.item-container-main{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:2% 20%;
  background-color: #333333; 
}

.item-container-mainend{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item-container-footer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.for-p {
  padding:2vh 2vw;
  font-size: 1.1em;
}


.formargin{
  margin:2% 20%;
}




.photosize {
  display: block;
  width: 100%;
  height: auto;
}
 .sect-with-photo {
  background-color: white;
  width: 250px ;

 }

 .section-about1,
 .section-about2
 {
  color: white;
  width: 50%;
 }

 .section-about1 {
  background-color: #2690d4;
 }
 .section-about2 {
  background-color: #333333;
 }


